body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



#site-container > header {
  display: flex;
  flex-direction: row;
  background-color: hsl(40, 9%, 19%);
  min-height: 50px;
  justify-content: center;
}

#site-container > header a {
  color: white;
  font-size: 1.4rem;
  padding: 0 3rem;
  text-decoration: none;
}


#site-container > main {
  
}

#site-container > main > header {
  background-color: hsl(34, 78%, 91%);
  display: flex;
  flex-direction: row;
  min-height: 50px;
  justify-content: center;
}

#site-container > main > header > a {
  color: hsl(34, 78%, 12%);
  font-size: 1.4rem;
  padding: 0 3rem;
  text-decoration: none;
}

#site-container > footer {
  
}